body {
  background: lightskyblue;
}

.navbar{
  font-weight: 100;
  .navbar-brand h3{
    font-weight: 300;
  }
  .nav-item{
    padding: 0 20px;
  }
  .nav-item:hover{
    transition: border 0.2s;
    border-bottom: 1px solid white;
  }
}

#showcase{
  background: url("../images/main.jpeg") bottom center / cover no-repeat;
  min-height: 700px;
  h1 {
    font-family: 'Questrial', sans-serif;
    line-height: 1;
  }
  #book{
    font-size: 1.5rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #009688, #4CAF50, #CDDC39);
    border: none;
  }
  h3{
    font-family: 'Raleway';
  }
}

@media (max-width: 768px){
  .navbar{
    background: #30343D;
    .nav-item:hover{
      border-bottom: none;
    }
  }
  #showcase{
    min-height: 500px;
    h1{
      font-size: 4rem;
    }
  }
}