body {
  background: lightskyblue;
}

.navbar{
  font-weight: 100;
  .navbar-brand h3{
    font-weight: 300;
  }
  .nav-item{
    padding: 0 20px;
  }
  .nav-item:hover{
    transition: border 0.2s;
    border-bottom: 1px solid white;
  }
}

@media (max-width: 768px){
  .navbar{
    background: #1f1f1f;
    .nav-item:hover{
      border-bottom: none;
    }
  }
}